<header class="navbar">
    <!-- Logo -->
    <div>
        <img class="logo" src="./assets/build.png" alt="Logo" />
    </div>
    <!-- Navlinks -->
    <div class="navlinks">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="contact">Contact</a></li>
        </ul>
    </div>
    <!-- Login Button -->
    <div>
        <div *ngIf=true>
            <button routerLink="login-form" class="button">Login</button>

        </div>
        <div *ngIf=true>
            <button routerLink="/" class="button">LogOut</button>
            <p> {{userName}}! You are {{role}}.</p>
        </div>

    </div>
</header>

